<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <title>{block "title"}{/block} - Shape</title>
    <link rel="stylesheet" href="/style.css" />
    {default $css_injections = []}
    {default $js_injections = []}

    {foreach $css_injections as $css}
        <link rel="stylesheet" href="/css/{$css}.css" />
    {/foreach}

    {foreach $js_injections as $js}
        <script src="/js/{$js}.js" type="text/javascript"></script>
    {/foreach}
</head>
<body class="bg-slate-50 w-full min-h-screen flex flex-col items-center">

    <div class="w-[850px] flex gap-12 items-start">

        <div class="w-[200px] pt-4">
            <h1 class="text-xs font-medium px-2 py-0.5 bg-white inline-block border uppercase border-slate-300 rounded-md shadow-sm mb-6">
                Shape <span class="text-slate-400">{$shape_version}</span>
            </h1>

            <ul>
                {foreach $content_types as $x}
                <li class="mb-1">
                    <a class="hover:underline text-lg {if $x->getIdentifier() === $content_type->getIdentifier()} text-slate-800 font-medium{/if} text-indigo-500 " href="/admin/content/{$x->getIdentifier()}">{$x->getName()}</a>
                </li>
                {/foreach}
            </ul>
        </div>

        <div class="w-full bg-white shadow-sm border-x border-b border-slate-200 p-6 pt-4 rounded-b-lg">
            <div class="flex place-items-center mb-4 pb-4 border-b border-slate-200">
                <h2 class="text-xl font-semibold mr-4">{block "page_title"}{/block}</h2>
                {block "action"}{/block}
            </div>

            {block "content"}{/block}
        </div>
    </div>

</body>
</html>