<div class="flex place-items-center -ml-6" style="width:calc(100% + 3rem) !important;">
    <textarea
        class="input border-l-0 border-r-0 rounded-none px-6 py-3 min-h-[250px] resize-none bg-gray-50"
        data-autoresize
        data-markdown
        type="text"
        name="{$identifier}"
        placeholder="{$placeholder}"
        hx-post="/admin/api/content/{$content_id}/update-field"
        hx-trigger="input changed delay:250ms"
        hx-swap="none">{$value}</textarea>
</div>