<div class="flex place-items-center">
    <div class="text-[0.65rem] font-medium uppercase">
        {if $value == ""}
            -
        {else}
            {$value}
        {/if}
    </div>
</div>